@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bem vindo a FPVASCO animal care</h1>
    <p class="lead">FPVASCO representa uma ong para auxiliar e cuidar de animais em situação de risco, leia mais em Sobre ou entre em Contato.</p>
</div>
